<div class="col-4 mx-2 my-2">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title name">NAME</h5>
            <h6 class="card-subtitle mb-2 text-muted subtitle title">Engineer</h6>
            <ul class="list-group list-group-flush">
                <li class="list-group-item id">ID</li>
                <li class="list-group-item email">EMAIL</li>
                <li class="list-group-item role-specific">ROLESPECIFIC</li>
            </ul>
        </div>
    </div>
</div>